:root {
	--grid-size: repeat(24, minmax(2px, 94px));
	--hover-color: #000;
}

h1 {
	font-size: 2.5rem;
}
input[type="color"] {
	width: 32px;
	border: 1px solid #ddd;
}
.navbar {
	min-width: 300px;
}
.sketchpad {
	border-right: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-columns: var(--grid-size);
	grid-template-rows: var(--grid-size);
}
.sketchpad-border {
	margin-top: 6rem;
}
.grid-square {
	border-top: 1px solid rgba(0 ,0, 0, .5);
	border-left: 1px solid rgba(0 ,0, 0, .5);
}

#grid-size {
	margin-left: 2.5rem;
}
.content-wrapper {
	background: url("../images/wickedbackground.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
.attribution {
	font-size: 8px;
}
footer {
	margin-top: auto;
}
.popup {
	position: absolute;
	top: 10px;
	right: calc(50% - 80px);
	z-index: 9;
	opacity: 1;
	transition: opacity 1s;
}
.popup-hidden {
	opacity: 0;
}

/* Media Queries - keep sketchpad 1:1 ratio across different screen sizes */

@media screen and (min-width: 350px) {
	.sketchpad {
		width: 320px;
		height: 320px;
	}
}
@media screen and (min-width: 370px) {
	.sketchpad {
		width: 340px;
		height: 340px;
	}
	input[type="color"] {
	width: 64px;
	}

}
@media screen and (min-width: 410px) {
	.sketchpad {
		width: 390px;
		height: 390px;
	}
}
@media screen and (min-width: 460px) {
	.sketchpad {
		width: 440px;
		height: 440px;
	}
	h1 {
	font-size: 3.5rem;
	}
}
@media screen and (min-width: 520px) {
	.sketchpad {
		width: 510px;
		height: 510px;
	}
}
@media screen and (min-width: 580px) {
	.sketchpad {
		width: 560px;
		height: 560px;
	}
}
@media screen and (min-width: 960px) {
	.grid-square:hover {
	background-color: var(--hover-color);
	}
	.popup {
		display: none;
	}
}
@media screen and (min-width: 1400px) {
	.sketchpad {
		width: 750px;
		height: 750px;
	}
}

