:root {
	--grid-size: repeat(24, minmax(9px, 72px));
	--hover-color: #000;
}

.container {
	display: flex;
	flex-direction: column;
	min-width: 320px;
}

.sketchpad {
	border-right: 1px solid rgba(0, 0, 0, .5);
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	flex-shrink: 0;
	width: 320px;
	height: 320px;
	display: grid;
	grid-template-columns: var(--grid-size);
	grid-template-rows: var(--grid-size);
}

.grid-square {
	border-top: 1px solid rgba(0 ,0, 0, .5);
	border-left: 1px solid rgba(0 ,0, 0, .5);
}
.grid-square:hover {
	background-color: var(--hover-color);
}
input[type="color"] {
	width: 32px;
	border: 1px solid #ddd;
	border-radius: 4px;
}


/* Media Queries - keep sketchpad 1:1 ratio across different screen sizes */

@media screen and (min-width: 370px) {
	.sketchpad {
		width: 370px;
		height: 370px;
	}
	input[type="color"] {
	width: 64px;
	}

}
@media screen and (min-width: 410px) {
	.sketchpad {
		width: 405px;
		height: 405px;
	}
}
@media screen and (min-width: 460px) {
	.sketchpad {
		width: 460px;
		height: 460px;
	}
}
@media screen and (min-width: 520px) {
	.sketchpad {
		width: 510px;
		height: 510px;
	}
}
@media screen and (min-width: 580px) {
	.sketchpad {
		width: 570px;
		height: 570px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		flex-direction: row;
	}
}
